---
title: degenaro.com
---
<html>
<center>
{% include common/masthead.html %}

<head>
<link rel="shortcut icon" href="favicon.ico" />
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link type="image/x-icon" rel="icon" href="favicon.ico" />
  <link type="text/css" rel="stylesheet" href="style.css">
  <title>degenaro.com</title>
  <style type="text/css">
  </style>
</head>
</head>

<body>

<table>
<tr>
<tr>
<tr>
<tr>
<td align="center"><b>Mario-World</b><br><small>by Danny DeGenaro <span style="color: grey;">&copy;2010</span></small>
</table>
<img class="homepage" src="./images/marioworld.jpg" border="2">

</body>  

<footer>
  <br>
  <br>
  {% include common/copyright.html %}
</footer>

</center>
</html>
